<div style="margin: 3%;">


  <div>

    <mat-form-field>
      <input matInput [(ngModel)]="selectedIntValue" (keyup)="changeValue($event)">
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-select [(value)]="selected" placeholder="Item">
        <mat-option *ngFor="let selectedOne of selectedList; let i = index" value="{{selectedOne}}"
          (click)="test(i+1);">
          {{i + 1}} - {{selectedOne}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <p>
    You selected : {{selected}}
  </p>
  <p>You changed the selected IntValue:
    <strong>
      {{intValue}}
    </strong>
  </p>



  <button mat-raised-button (click)="button()">Click</button>
  <br />

  <div *ngIf="isDisabled">
    <app-benamingen></app-benamingen>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</div>